@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.BodyLogin {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

.login-container {
    display: flex;
    width: 100%;
}

.half {
    flex: 1;
    height: 100vh; /* Adjust the height as needed */
}

.login-imageHolder {
    /* Style for the left image container */
    background: url("/images/login.png") center/cover no-repeat; /* Replace 'path/to/your/image.jpg' with the actual path to your image */
}

.login-credentialsHolder {
    /* Style for the right login form container */
    padding: 20px;
}

.divider {
    /* Optional: Add a visual divider between the image and form */
    width: 2px;
    background-color: #ccc;
}
.login-title .btnlogin {
    background-color: #000000;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 18px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
}

.title-barFP {
    margin-top: 0;
}

.title-barFP h1 {
    color: #1c1c1c;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
}

.login-title-bar h2 {
    margin: 0;
    font-size: 32px;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.container .usernameLabel {
    color: #212529;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Register */
.BodyRegister {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

.register-container {
    display: flex;
    width: 100%;
}

.register-imageHolder {
    background: url("/images/login.png") center/cover no-repeat;
    position: relative;
    flex: 1;
    height: 100vh;
}

.divider {
    width: 2px;
    background-color: #ccc;
}

.register-formHolder {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-step {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.register-step button {
    background-color: #000000;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 18px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.68px;
}

/* Additional styling for form elements */
.register-step label {
    color: #212529;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.register-step input {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #000;
    background: rgba(225, 225, 225, 0);
}

/* Add more styling as needed */
